name: CI

on:
  pull_request:
  push:
    branches: [ "master" ]
    tags: 
      - '*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        rustup target add wasm32-unknown-unknown
        ./scripts/build.sh
    - name: Download PocketIC
      run: curl -sLO https://github.com/dfinity/pocketic/releases/download/3.0.1/pocket-ic-x86_64-linux.gz
    - name: Prepare PocketIC
      run: | 
        gunzip pocket-ic-x86_64-linux.gz
        mv pocket-ic-x86_64-linux pocket-ic
        chmod +x pocket-ic
        mv pocket-ic src/subnet_rental_canister/
    - name: Download wasms
      run: ./scripts/download_wasms.sh
    - name: Run tests
      run: cargo test --all-targets --all-features -- --nocapture
      env:
          RUST_BACKTRACE: 1

  dfx-deploy:
    name: Dfx deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Download dfx
      uses: dfinity/setup-dfx@main
    - name: Start dfx
      run: dfx start --background
    - name: Add wasm target
      run: rustup target add wasm32-unknown-unknown
    - name: Deploy
      run: dfx deploy

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run fmt
      run: cargo fmt --all -- --check

  release: 
    if: ${{ github.ref_type == 'tag' }}
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        ./scripts/docker_build.sh
    - name: gzip artifact
      run: |
        gzip subnet_rental_canister.wasm
        sha256sum subnet_rental_canister.wasm.gz > src.sha256
    - name: upload artifacts to release page
      uses: softprops/action-gh-release@master
      with:
        files: |
          subnet_rental_canister.wasm.gz
          src.sha256
